/* Button details are from -> https://codepen.io/giana */
/* I slightly modified their coloring and animations */
/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
.fill:hover,
.fill:focus {
  -webkit-box-shadow: inset 0 0 0 2em var(--hover);
          box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse2:hover,
.pulse2:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

.close:hover,
.close:focus {
  -webkit-box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
          box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  -webkit-box-shadow: inset 0 -3.25em 0 0 var(--hover);
          box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  -webkit-box-shadow: inset 6.5em 0 0 0 var(--hover);
          box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  -webkit-box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
          box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

.offset:hover, .offset:focus {
  -webkit-box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
          box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #7d72cb;
}

.pulse {
  --color: #a972cb;
  --hover: #7d72cb;
}

.close {
  --color: #ff7f82;
  --hover: #ff7fc2;
}

.raise {
  --color: #ffa260;
  --hover: #ff606e;
}

.up {
  --color: #e9780f;
  --hover: #e90f13;
}

.slide {
  --color: #8fc866;
  --hover: #c0c866;
}

.offset {
  --color: #570a7a;
  --hover: #1f0a7a;
}

.pulse2 {
  --color: #dd7d10;
  --hover: #dd1710;
}

button {
  color: var(--color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #470466;
}

body {
  /*
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  
  // Center everything ever
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
    */
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  margin-left: 30px;
  border-radius: 4px;
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}

.center-content {
  text-align: center;
}

.row.bio {
  margin-top: 30px;
  margin-left: 15px;
}

.text {
  font-family: 'Lato';
}

.text.title {
  font-size: 36px;
  font-weight: 800;
}

.text.description {
  font-size: 20px;
  font-weight: 200;
}

@media screen and (max-width: 991px) {
  .text.description {
    font-size: 18px;
  }
}

.text.bio-title {
  font-size: 18px;
  font-weight: 600;
  margin-left: 24px;
  margin-top: 12px;
}

.text.bio-text {
  font-size: 15px;
  font-weight: 500;
  margin-left: 24px;
}

.img.profile {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 400px;
  width: 100%;
  height: 250px;
  border-radius: 8%;
}

.bio-list {
  list-style-type: none;
  margin-left: -8px;
}

.fas.fa-map-marker-alt:hover {
  color: #ff0000;
}

.fab.fa-twitter:hover {
  color: #00acee;
}

.fab.fa-linkedin:hover {
  color: #0077b5;
}

.fab.fa-github:hover {
  color: #6cc644;
}

.li {
  font-family: 'Lato';
  cursor: pointer;
}

.li.location:hover {
  color: #ff0000;
  cursor: default;
}

.li.twitter:hover {
  color: #00acee;
}

.li.linkedin:hover {
  color: #0077b5;
}

.li.github:hover {
  color: #6cc644;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .container.bio {
    text-align: center;
  }
}

.navbar-brand {
  font-family: 'MonteCarlo', cursive;
  font-weight: 600;
  font-size: 24px;
}
/*# sourceMappingURL=main.css.map */